div#content div{
	display: inline-block;
	width: 48%;
}


div#content div.left {
	vertical-align: top;



}


 div#content div.right{
 	padding-left: 55px;
	
}

p.ibs{
		padding-right: 500px;
}
p.ad{
		padding-left:  300px;
}
p.af{
		padding-left:  300px;
}
footer.p{
		padding-right:  300px;
}
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
	padding-left:  170px;
	background-color: #20f52a;
	border-radius: 5px;
	margin: 5px;
border-bottom: 5px solid #07cdf8 ;
margin: 10px 0;
	
}
nav.menu-nav ul li.btn a{
	color: white;
	background-color:#07cdf8;
	text-decoration: none;
	padding: 10px;
	border-bottom: 10px solid;




}

nav.menu-nav ul li.btn:hover a{
	color: #f90421;
	background-color: white;
	transition: 0.5s all;
	border-radius:  50px;

}


header{
	background-color: #07cdf8;
	/*font-weight: bold;*/
	color: #030303;
	font-size: 20px;
	
	
}

body{
	background : url(images/ibou.jpg);

}

p.para1{
	font-weight: bold;
}

p.para1 a{
	color: #1e1ef2;
	background-color: white;
	transition: 0.5s all;
}

div.annonce{
	padding-left: 800px;
}

p.dispo{
	padding-left: 200px;
}

div.marquee{
	/*background-color: #000;*/
}

script{
	font-weight: bold;
}


nav.menu-nav ul li.btn div.slide{
	width: 500px;
	

}

footer{
    padding-left: 550px;
	font-weight: bold;
	color: white;
	margin: 70px ;
	background-color: black;
    border-radius: 50px;
}

.mail{
	padding-right: 500px;
}